<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="My Sql Connection String" connectionString="data source=(local);initial catalog=Catalog;integrated security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
	</startup>
	<appSettings>
		<add key="NextSequenceNumberServiceUrl" value="http://localhost:1337/"/>
	</appSettings>
</configuration>
